@media (min-width:800px){
    .container {
        background: url('../img/Image.png') #1d1d1d  no-repeat;
        height: 550px;
        width: 100%;
        background-size: cover;
        background-position: center;
    }
}