.container,.brand ,.btnContainer{
    background-color: #FFF;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.container{
    justify-content: space-around;

}
.left, .right{
    display: flex;
    margin-left: 4rem;
    gap: 1rem;
}
.lastChild button{
    background-color: #2E5834;
    color: #FFF;
    border-radius: 40px;
}
button{
    background-color: #FFF;
    color: #1D1D1D;
}
.logo{
    color: #2E5834;
}