.container{
    background-color: #FFF;
    display: flex;
    flex-direction: row
}
.btnContainer{
    background-color: #FFF;
;
}
button{
    background-color: #FFF;
    color: #1D1D1D;
}
.logo{
    color: #2E5834;
}